RPi.GPIO==0.7.1
Adafruit-Blinka==8.29.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-ssd1306==2.12.16
adafruit-circuitpython-typing==1.9.6
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.57.0
Adafruit-PureIO==1.1.11
Adafruit-SSD1306==1.6.2
pillow==10.2.0
numpy==1.26.4 
opencv-python==4.9.0.80
